<div class="container-fluid header">
  <br />
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-1 img-center">
      <img class="img-fluid img-circle" style="height: 75px" src="assets/img/1819597.jpg" alt="">
    </div>
    <div class="col-xs-10">
      <h2>{{ pageName }}</h2>
    </div>
  </div>
  <br />
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-3">
      <sidebar [products]="listOfProducts"></sidebar>
    </div>
    <div class="col-xs-9" style="padding-right: 50px">
      <main-view [products]="listOfProducts"></main-view>
    </div>
  </div>
</div>
